{% macro comma(loop, sep=", ") %}
{%- if not loop.last %}{{ sep }}{% endif -%}
{% endmacro %}

{% macro matrix(loop_id, partial, sm_obj, post="") %}
    {%- set mat = "m" ~ loop_id ~ partial ~ post %}
    {{ mat }}.reserve(std::array<int, {{ sm_obj.ncols }}>({
            {%- for i in sm_obj.nnz %}{{ i }}{{- comma(loop) }}{% endfor -%}
            }));
    {
        {%- for v in sm_obj.vals %}
        const T w{{ loop.index0 }} { {% if v.d == 1 %}{{ v.n }}{% else %}T({{ v.n }}.)/T({{ v.d }}.){% endif %} };
        {%- endfor %}
        {% for el in sm_obj.entries %}
        {{ mat }}.insert({{ el.i }}, {{ el.j }}) = {% if not el.s %}-{% endif %}w{{ el.v }};
        {%- endfor %}
    }
    {{ mat }}.makeCompressed();
{% endmacro %}
